@using ONLİNETİCARİOTOMASYON.Models.Sınıflar
@model List<Ürünler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Adminsayfası.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Ürün", FormMethod.Get))
            {
                <p>
                    Ürün Adı: @Html.TextBox("p")
                    <input type="submit" value="Ara" />
                </p>
            }

<br />
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        @if (User.IsInRole("a"))
        {
            <th>Sil</th>
            <th>Güncelle</th>
        }
    </tr>
    @foreach (var u in Model)
    {
<tr>

    <td>@u.ürünad</td>
    <td>@u.marka</td>
    <td>@u.satışfiyat ₺</td>
    <td>@u.kategori.kategorıad</td>
    @if (User.IsInRole("a"))
    {
        <td><a href="/Ürün/ÜrünSil/@u.ürünid" class="btn btn-danger">Sil</a></td>
        <td><a href="/Ürün/ÜrünGetir/@u.ürünid" class="btn btn-success">Güncelle</a></td>
    }
    </tr>
    }
</table>
<a href="/Ürün/YeniUrun" class="btn btn-info">Yeni Ürün</a>
