@using ONLİNETİCARİOTOMASYON.Models.Sınıflar
@model List<Faturakalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_Adminsayfası.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4>
    <li class="breadcrumb-item active">
</ol>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.faturakalemid</td>
            <td>@k.acıklama</td>
            <td>@k.miktar</td>
            <td>@k.birimfiyat</td>
            <td>@k.tutar</td>
          
        </tr>
    }
</table>
<a href="/Faturalar/FaturaKalemEkle/" class="btn btn-default" style="background-color:aqua">Yeni Fatura Kalem Girişi</a>