@model ONLİNETİCARİOTOMASYON.Models.Sınıflar.Envanter
@{
    ViewBag.Title = "EnvanterGetir";
    Layout = "~/Views/Shared/_Adminsayfası.cshtml";
}

<br />
<h2>Envanter Güncelle</h2>
<br />
@using (Html.BeginForm("EnvanterGuncelle", "Envanter", FormMethod.Post))
{
    
    @Html.HiddenFor(x => x.envanterid)
    <br />
    @Html.LabelFor(x => x.alınanadet)
    @Html.TextBoxFor(x => x.alınanadet, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.alisfiyat)
    @Html.TextBoxFor(x => x.alisfiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.arızalıürünsayısı)
    @Html.TextBoxFor(x => x.arızalıürünsayısı, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.serikod)
    @Html.TextBoxFor(x => x.serikod, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ürünler)
    @Html.DropDownListFor(x => x.ürünid, (List<SelectListItem>)ViewBag.dgr1, new
    {
        @class =
   "form-control"
    })
    <br />
    <button class="btn btn-primary">Güncelle</button>
}


